
body {
    background-color: #0f0f0f !important;
    overflow-x: hidden;
    overflow-y: hidden;
}


.acts {
    background-color: #ffffff;
    filter: opacity(100%);
    z-index: 2;
}

@media (min-width: 991px) {
    .acts {
        max-height: 1080px;
        max-width: 100%;
        margin-bottom: 50px;
        margin-top: auto;

    }
}

.banner {
    z-index: 1;
    filter: opacity(65%);
}

@media (max-width: 1400px) {
    body {
        background-color: #0f0f0f !important;
        overflow-y: visible;
    }

    .banner, .title, .img {
        display: none;

    }

    .return {
        position: absolute;
        top: 15em;
        left: 1em;
        width: 100%;
    }

    a {
        display: none;
    }

}

.row {
    position: relative;
    margin-bottom: 2em;
}

.return {
    position: absolute;
    top: 18em;
    left: 5em;
    width: 100%;
    z-index: 2;
}

.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #ED8D8D;
    color: #fff;
    max-height: 50px;
    z-index: 2;
}

.how-it-works.row .col-2 {
    align-self: stretch;
}

.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}


.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid #ED8D8D;
    margin: 0;
    top: 17px;
    position: relative;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid #ED8D8D;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}
